/* Assets/UI/UpgradePanel.uss */
.overlay {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: rgba(0,10,18,0.67); /* #000A12AA */
  display: none; /* masqué par défaut, on toggle en C# */
}

.frame {
  width: 1100px;
  height: 650px;
  align-self: center;
  justify-self: center;
  margin: auto;
  background-color: #0B1E2BFF;
  border-radius: 18px;
  padding: 16px 20px 20px 20px;
  box-shadow: 0 0 28px rgba(0, 229, 255, 0.12);
}

.header {
  -unity-text-align: middle-center;
  font-size: 28px;
  unity-font-style: bold;
  color: #80FFFF;
  margin-bottom: 8px;
}

.body {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 16px;
  height: 100%;
}

.col {
  width: 320px;
  min-height: 520px;
  background-color: #102A3AFF;
  border-radius: 12px;
  padding: 12px;
  row-gap: 6px;
}

.title {
  color: #66E0FF;
  font-size: 18px;
  unity-font-style: bold;
  margin-bottom: 6px;
}

.btn {
  height: 36px;
  background-color: #163949FF;
  color: #E0FBFFFF;
  unity-font-style: bold;
  border-radius: 10px;
  -unity-text-align: middle-center;
}

.btn:hover { background-color: #1E5168FF; }
.btn:active { background-color: #0F2A36FF; }

.sub {
  color: #A8D8E8FF;
  font-size: 14px;
  -unity-text-align: upper-left;
}
